body{
	background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/5LTJsFT/football-stadium-background-animation_4kiej7gr__F0000.png");
	background-size: 100%;
    background-repeat: no-repeat;
    color: lime;
}
* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
.btn {
   
    margin: 3px;
    background-color: lime;
    border-color:blue;
   
}
.gifDiv{
   
    float: left;
    margin: 3px;
}
.container {
	background-color: black;
	opacity: 0.8;
	padding: 20px;
}
.jumbotron {
    background-color: inherit;
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
    font-stretch: 50%;
}

div#footer {
	clear: both;
	margin-top: 40px;
	position: center;
	bottom: 0;
	left: 0;
    text-align: center;
    color: black
}